.heart {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ffe6e6;
    transform: rotate(-45deg);
    animation: floatUp 5s linear infinite;
    display: none;
    z-index: -1;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ffe6e6;
    border-radius: 50%;
}

.heart::before {
    top: -15px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 15px;
}

@keyframes floatUp {
    from {
      top: calc(100vh - 50px);
    }
    to {
      top: 0vh;
    }
}