@font-face {
    font-family: "kawaii";
    src: url("ressources//Keep\ Cheese.ttf");
}

body {
    font-family: "kawaii";
    background-color: #ffcccc;
    text-align: center;
}

#texte {
    font-size: 40px;
    margin-top: 20vh;
}

#div_oui {
    left: calc(50% - 200px);
    position: absolute;
}

#div_non {
    left: calc(50% + 40px);
    position: absolute;
}

.button {
    font-family: "kawaii";
    font-size: 25px;
    width: 150px;
    height: 50px;
    border-radius: 8px;
    border: 0px;
    background-color: #fce9e9;
    box-shadow: 0px 0px 50px 1px #ff80804b;
    transition: background-color 0.5s, box-shadow 0.3s;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.button:hover {
    background-color: #ff8080;
    box-shadow: 0px 0px 20px 1px #ff8080;
}
