.contact-form {
    display: flex;
    flex-direction: column;

    max-width: 450px;
    padding: 30px;
    border-radius: 14px;
    background: #ffffff;
    color: rgb(87, 87, 87);
    box-shadow: 0px 0px 50px rgb(226, 226, 226);
    font-family: Arial, sans-serif;
    transition: box-shadow 200ms linear;

    /* pour petit ecran */
    margin: 30px auto;
    margin-bottom: 120px;
}

.contact-form:hover {
    box-shadow: 0px 0px 50px rgb(156, 156, 156);
}

.contact-form h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.form-group {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
    margin-left: 10px;
}

.form-group input, .form-group textarea {
    resize: none;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid #e0e0e0;
    font-size: 15px;
    transition: border 200ms linear;
    font-family: Arial, sans-serif;
}

.form-group input:focus,
.form-group textarea:focus {
    border: 2px solid #172983;
    outline: none;
}

.btn-submit {
    display: block;
    margin: auto;
    width: 40%;
    padding: 12px;
    border: none;
    background-color: #172983;
    color: white;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 200ms linear;
}

.btn-submit:hover {
    background-color: #2744d4;
}

.form-status {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}
