.contentAndContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 120px;
}

.scroll_class {
    scroll-margin-top: 100px;
}

.big_title {
    font-size: 25px;
    margin-bottom: -8px;
    border-bottom: 2px solid rgb(16, 82, 168);
    padding-bottom: 10px;
    color: rgb(16, 82, 168);
}

.contentInfo {
    margin-left: 8px;
}

.greyText {
    color: rgb(87, 87, 87);
    font-size: 20px;
}

.text_img {
    position: relative;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 30px;
    border-radius: 14px;
    background: #ffffff;
    color: rgb(87, 87, 87);
    box-shadow: 0px 0px 50px rgb(226, 226, 226);
    font-family: Arial, sans-serif;
    transition: box-shadow 200ms linear;
}

@media (min-width: 1500px) {
    #page_content {
        width: 900px;
    }

    .contentAndContact {
        flex-direction: row;
        align-items: flex-start;
    }

    .contact-form {
        margin-left: auto;
        margin-right: auto;
        top: 20vh;
        position: sticky;
    }
}

@media (min-width: 1200px) {
    #page_content {
        margin-left: auto;
        margin-right: auto;
    }

    .contact-form {
        margin-left: auto;
        margin-right: auto;
    }

}

/* middle screen */
@media (min-width: 800px) and (max-width: 1499px) {
    #page_content {
        width: 750px;
    }

    .contact-form {
        margin: 30px auto;
    }
}

/* little screen */
@media (max-width: 799px) {
    .contentAndContact {
        padding-left: 5%;
        padding-right: 5%;
    }

    .contact-form {
        margin: 30px auto;
    }
}
