@media (max-width: 1000px) {
    #contactUs {
        background-color: rgb(242, 242, 242);
        box-shadow: -8px -10px 20px rgb(242, 242, 242);
        bottom: 0px;
        width: 100%;
        height: 40px;
        position: fixed;
    }

    #titleContactUs {
        display: none;
    }

    #ourMail {
        margin-left: 20px;
        font-size: 17px;
        margin-top: 12px;
    }
}

@media (min-width: 1000px) {
    #contactUs {
        box-shadow: 0px 0px 50px rgb(156, 156, 156);
        width: 250px;
        height: 400px;
        border-radius: 5px;
        position: fixed;
        top: 30%;
        left: 74%;
    }

    #titleContactUs {
        font-size: 20px;
    }

    #inlineContactUs {
        margin-left: 20px;
    }

    #ourMail {
        font-size: 17px;
    }
}