#page_content {
    margin-top: 100px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 60px;
}

.scroll_class {
    scroll-margin-top: 100px;
}

.big_title {
    font-size: 25px;
    margin-bottom: -8px;
    border-bottom: 2px solid rgb(16, 82, 168);
    padding-bottom: 10px;
    color: rgb(16, 82, 168);
}

.contentInfo {
    margin-left: 8px;
}

.greyText {
    color: rgb(87, 87, 87);
    font-size: 20px;
}

/* big screen */
@media (min-width: 1500px) {
    #page_content {
        margin-left: 15%;
        width: 800px;
    }
    .greyText {
        font-size: 23px;
    }
}

/* middle screen */
@media (min-width: 1200px) and (max-width: 1499px) {
    #page_content {
        width: 800px;
    }
}

/* little screen */
@media (min-width: 1000px) and (max-width: 1199px){
    #page_content {
        width: 650px;
    }
}