.menu {
    top: 0px;
    position: fixed;
    width: 100%;
    height: 60px;
}

.menu_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 0px 0px 3px 3px;
    transition: box-shadow 100ms linear;
    z-index: 10;
}

.img_logo {
    margin-left: 20px;
    height: 50px;
}

.titles {
    padding: 0px 2vw 0px 2vw;
    margin-left: auto;
}

.titles.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.menuLink {
    position: relative;
    font-size: 20px;
    margin: 0 2vw 0 2vw;
}

.scrolled {
    box-shadow: -3px 20px 20px rgba(189, 189, 189, 0.411);
}

.hamburger.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.hamburger {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    right: 20px;
}

.hamburger span {
    width: 100%;
    height: 3px;
    background-color: rgb(87, 87, 87);
    border-radius: 2px;
    transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}

.titles_hamburger {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    box-shadow: -3px 20px 20px rgba(189, 189, 189, 0.411);
    transition: all 0.3s ease;
    transform: translateY(0);
}

.titles_hamburger.hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}

.menuLink_hamburger {
    font-size: 20px;
    margin-bottom: 5px;
}
