.menu {
    top: 0px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 0px 0px 3px 3px;
    width: 100%;
    height: 80px;
    transition: box-shadow 100ms linear;
}

.menu img {
    margin-left: 20px;
    height: 60px;
}

.titles {
    padding: 0px 2vw 0px 2vw;
    margin-left: auto;
}

.titles.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.menuLink {
    position: relative;
    font-size: 22px;
    margin: 0 2vw 0 2vw;
}

.scrolled {
    box-shadow: -3px 8px 20px rgb(189, 189, 189);
}
