# Redirection de http://solidarite-logement.org vers https://www.solidarite-logement.org
RewriteEngine On
RewriteCond %{HTTP_HOST} ^solidarite-logement\.org [NC]
RewriteRule ^(.*)$ https://www.solidarite-logement.org/$1 [L,R=301]
