RewriteEngine On

# Redirection HTTP -> HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://www.solidarite-logement.org/$1 [L,R=301]

# Redirection vers www si non présent
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ https://www.solidarite-logement.org/$1 [L,R=301]

# Forcer le type XML pour le sitemap
<Files "sitemap.xml">
    ForceType application/xml
</Files>
