#page_content {
    margin-top: 100px;
    margin-left: 3%;
    margin-right: 3%;
}

.putText {
    font-size: 15px;
}

.title {
    font-size: 20px;
    margin-bottom: -2px;
    color: rgb(16, 82, 168);
}

.big_title {
    font-size: 25px;
    margin-bottom: -8px;
    border-bottom: 2px solid rgb(16, 82, 168);
    padding-bottom: 10px;
    color: rgb(16, 82, 168);
}

.contentInfo {
    margin-left: 8px;
}

@media (min-width: 1500px) {
    #page_content {
        margin-left: 15%;
        width: 800px;
    }
}

@media (min-width: 1200px) {
    #page_content {
        width: 800px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px){
    #page_content {
        width: 650px;
    }
}