      
    #en-tete, 
	#conteneur, 
	#pied-page { width: 960px; margin: auto;  }
	
	#enveloppe_page { margin: auto; width: 960px; }
	
	/**** Entete ****/
	#en-tete { position: relative; display: block;  z-index: 510;  }

      .filet1 { border: 1px solid #266e9d; } /*bleu */
      .couleur_home { color: #266e9d; }
      
      ul.u_toplinks{position:absolute;right:25px;top:0;line-height:20px;}
ul.u_toplinks li{float:left;color:white;margin-left:5px;font-size:.8em;font-family:Arial,Verdana,sans-serif;}
      
.filet1  H2 {
	/*float:left;
	width:100%;*/
  	// zoom: 1;
	border-bottom: 5px solid #666;
	margin-right: 15px;
	margin-bottom: 1em;
	margin-top: 0em;
	font-size: 1.7em;
	font-weight: bold;
	color: #666;
	}

.filet1  H2:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow:hidden;
}

.filet1  H2 span {
	display: block;
	background: #ffffff;
	padding: 15px 10px 0px 15px;
	float: left;
	line-height: 1;
	margin-bottom:-9px;
	}
/*.mainhome .filet1 H2{float:none;} */

.filet2  H2 {
	/*float:left;
	width:100%;*/
  	// zoom: 1;
	border-bottom: 5px solid #666;
	margin-right: 15px;
	margin-bottom: 1em;
	margin-top: 0em;
	font-size: 1.7em;
	font-weight: bold;
	color: #666;
	}

.filet2  H2:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow:hidden;
}

.filet2  H2 span {
	display: block;
	background: #ffffff;
	padding: 15px 10px 0px 15px;
	float: left;
	line-height: 1;
	margin-bottom:-9px;
	}
/*.mainhome .filet2 H2{float:none;} */

.filet3  H2 {
	/*float:left;
	width:100%;*/
  	// zoom: 1;
	border-bottom: 5px solid #666;
	margin-right: 15px;
	margin-bottom: 1em;
	margin-top: 0em;
	font-size: 1.7em;
	font-weight: bold;
	color: #666;
	}

.filet3  H2:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow:hidden;
}

.filet3  H2 span {
	display: block;
	background: #ffffff;
	padding: 15px 10px 0px 15px;
	float: left;
	line-height: 1;
	margin-bottom:-9px;
	}
/*.mainhome .filet3 H2{float:none;} */

.filet4  H2 {
	/*float:left;
	width:100%;*/
  	// zoom: 1;
	border-bottom: 5px solid #666;
	margin-right: 15px;
	margin-bottom: 1em;
	margin-top: 0em;
	font-size: 1.7em;
	font-weight: bold;
	color: #666;
	}

.filet4  H2:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow:hidden;
}

.filet4  H2 span {
	display: block;
	background: #ffffff;
	padding: 15px 10px 0px 15px;
	float: left;
	line-height: 1;
	margin-bottom:-9px;
	}
/*.mainhome .filet4 H2{float:none;} */

.filet1 h2.bleu { color: #266e9d; border-color: #266e9d;}
.filet1 h2.orange { color: #e25c13; border-color: #e25c13; }
.filet1 h2.vert { color: #00A867; border-color: #00A867;}
.filet1 h2.violet { color: #b1428f; border-color: #b1428f; }
.filet1 h2.gris { color: #666666; border-color: #666666; }

.filet2 h2.bleu { color: #266e9d; border-color: #266e9d;}
.filet2 h2.orange { color: #e25c13; border-color: #e25c13; }
.filet2 h2.vert { color: #00A867; border-color: #00A867;}
.filet2 h2.violet { color: #b1428f; border-color: #b1428f; }
.filet2 h2.gris { color: #666666; border-color: #666666; }

.filet3 h2.bleu { color: #266e9d; border-color: #266e9d;}
.filet3 h2.orange { color: #e25c13; border-color: #e25c13; }
.filet3 h2.vert { color: #00A867; border-color: #00A867;}
.filet3 h2.violet { color: #b1428f; border-color: #b1428f; }
.filet3 h2.gris { color: #666666; border-color: #666666; }

.filet4 h2.bleu { color: #266e9d; border-color: #266e9d;}
.filet4 h2.orange { color: #e25c13; border-color: #e25c13; }
.filet4 h2.vert { color: #00A867; border-color: #00A867;}
.filet4 h2.violet { color: #b1428f; border-color: #b1428f; }
.filet4 h2.gris { color: #666666; border-color: #666666; }

      .filet2 { border: 1px solid #e25c13; } /*orange*/
      .couleur_english { color: #e25c13; }
      .filet3 { border: 1px solid #00A867; } /*vert*/
      .couleur_adherez { color: #00A867; }
      .filet4 { border: 1px solid #821F56; } /*prune*/
      .couleur_artiste { color: #821F56; }
      
      .droite { text-align: right; }
	  .gauche { text-align: left; }
      .centre { text-align: center; }
      .justify { text-align: justify; }
      
      /****** Encart Texte Home / Qui sommes nous ******/
      #txt-home { margin: 0 0 14px; padding: 10px 9px 10px 8px; width: 430px; font-size: 14px; line-height: 17px;
      position: relative;   }
      #txt-home .filet1 { padding: 8px; }
      #txt-home h1 { font-size: 21px; line-height: 24px; margin: 0 0 10px 5px; }
      #txt-home h1 a { color: #00558c; text-decoration: none; }
      #txt-home h1 a:hover { text-decoration: underline; }
      #txt-news h2 a { color: #00558c; text-decoration: none; }
      .etiquette_qsn{ position: absolute; bottom: 5px; left: 20px; }
      #txt-home p { padding: 0 10px 0 94px; margin: 0 0 8px; }

      #txt-news { display: inline; float: right;  width: 210px; margin-right: 5px; }
      #txt-news .filet2 { padding: 8px; }
      #txt-news h1 { font-size: 21px; line-height: 24px; margin: 0 0 10px 5px; }
      #txt-news h1 a { color: #f5aa00; text-decoration: none; }
      #txt-news h1 a:hover { text-decoration: underline; }
      #txt-news h2 a { color: #f5aa00; text-decoration: none; }
      #txt-news h2 a:hover { text-decoration: underline; }
      .etiquette_qsn{ position: absolute; bottom: 5px; left: 20px; }
      #txt-news p { padding: 0 10px 0 94px; margin: 0 0 8px; }

      #txt-adherez { margin: 0 0 14px; padding: 10px 9px 10px 8px; width: 430px; font-size: 14px; line-height: 17px;
      position: relative;   }
      #txt-adherez .filet3 { padding: 8px; }
      #txt-adherez h1 { font-size: 21px; line-height: 24px; margin: 0 0 10px 5px; }
      #txt-adherez h1 a { color: #8cbf3b; text-decoration: none; }
      #txt-adherez h1 a:hover { text-decoration: underline; }
      .etiquette_qsn{ position: absolute; bottom: 5px; left: 20px; }
      #txt-adherez p { padding: 0 10px 0 94px; margin: 0 0 8px; }

      #txt-artiste { display: inline; float: right;  width: 240px; margin-right: 5px; }
      #txt-artiste .filet4 { padding: 8px; }
      #txt-artiste h1 { font-size: 21px; line-height: 24px; margin: 0 0 10px 5px; }
      #txt-artiste h1 a { color: #821F56; text-decoration: none; }
      #txt-artiste h1 a:hover { text-decoration: underline; }
      .etiquette_qsn{ position: absolute; bottom: 5px; left: 20px; }
      #txt-artiste p { padding: 0 10px 0 94px; margin: 0 0 8px; }
      
      #left_menu { margin: 0 0 14px; padding: 10px 9px 10px 8px; width: 200px; font-size: 14px; line-height: 17px;
      position: relative;   }
      
      #right_content { display: inline; float: right;  width: 700px; margin-right: 5px; }

      .ombre { border: 1px solid #dbd9d8; padding: 9px;
      -webkit-box-shadow: 3px 3px 1px #edecec;
      -moz-box-shadow: 3px 3px 1px #edecec;
      box-shadow: 3px 3px 1px #edecec;}
      
      .ombre2 { border: 1px solid #dbd9d8; padding: 9px;
      -webkit-box-shadow: 3px 3px 1px #edecec;
      -moz-box-shadow: 3px 3px 1px #edecec;
      box-shadow: 3px 3px 1px #edecec;}

      .page_text {
      font-family: Arial,Verdana,sans-serif;
      font-size: 13px;
      line-height: 17px;
      color: #2d1446;
      margin-left: 0px;
      text-align: justify;
      }
      
      .page_text_margin {
      font-family: Arial,Verdana,sans-serif;
      font-size: 13px;
      line-height: 18px;
      color: #2d1446;
      margin-left: 15px;
      margin-right:15px;
      text-align: justify;
      font-weight:normal;
      }
      
      .page_text_nomargin {
      font-family: Arial,Verdana,sans-serif;
      font-size: 13px;
      line-height: 17px;
      color: #2d1446;
      margin-left: 0px;
      margin-right:15px;
      text-align: justify;
      font-weight:normal;
      }
      
      .blue 
     {
     color: #266e9d;
     }
     
     .orange 
     {
     color: #e25c13;
     }
     
     .violet 
     {
     color: #b1428f;
     }
      
      .page_text_margin20 {
      font-family: Arial,Verdana,sans-serif;
      font-size: 13px;
      line-height: 17px;
      color: #2d1446;
      margin-left: 40px;
      margin-right:20px;
      }
      
      .chargement {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #BB4708;
	text-decoration: none;
	text-align:right;
	}
      .page_subtitleblue {
      font-family: Arial,Verdana,sans-serif;
      font-size: 15px;
      line-height: 20px;
      color: #266e9d;
      font-weight: bold;
      margin-left: 15px;
      margin-right:15px;
      }
      
      .page_subtitleorange {
      font-family: Arial,Verdana,sans-serif;
      font-size: 15px;
      line-height: 18px;
      color: #e25c13;
      font-weight: bold;
      margin-left: 15px;
      margin-right:15px;
      }
      
      .page_subtitleviolet {
      font-family: Arial,Verdana,sans-serif;
      font-size: 15px;
      line-height: 18px;
      color: #b1428f;
      font-weight: bold;
      margin-left: 15px;
      margin-right:15px;
      }
      
      .page_subtitlevert {
      font-family: Arial,Verdana,sans-serif;
      font-size: 15px;
      line-height: 18px;
      color: #00A867;
      font-weight: bold;
      margin-left: 15px;
      margin-right:15px;
      }

      a.page_assoc:active { color: #2d1446; text-decoration: none}
      a.page_assoc:visited { color: #2d1446; text-decoration: none}
      a.page_assoc:hover  { color: #c20000; }

      .page_assoc
      {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      line-height: 16px;
      color: #2d1446;
      text-decoration: none;
      font-weight: normal;
      }
      
      .email {
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: #266e9d;
	font-weight:normal;
	text-decoration:none;	
}
.email:hover{	
	text-decoration: underline;	
}

      .bouton { background: transparent url(http://clis-asso.fr/Promusicis/images/bg_bouton.png) right top repeat-x; font-size: 12px; line-height: 22px; border-left: 1px solid #c3c0be; padding: 5px 22px 3px 10px; color: #6b6661; text-decoration: none; }
      a.bouton:hover { text-decoration: underline; color: #6b6661; }

      /****** Menu déroulant ******/
      #elem_menu { border: 1px solid #296387; background: #FFF; height: 44px; padding: 0 10px 0 0; margin: 10px 0 0 0px; float: right; position: relative; margin-right: 10px;
      -webkit-box-shadow: 2px 2px 1px #014168;
      -moz-box-shadow: 2px 2px 1px #014168;
      box-shadow: 2px 2px 1px #014168; }
      #elem_menu ul { margin: 0; padding: 0; z-index: 500;  }
      #elem_menu ul li { margin: 13px 0 0 10px; padding: 0; list-style-type: none; display: inline;  float: left; position: relative; }
      #elem_menu ul li a { color: #FFF; font-size: 16px; line-height: 17px; height: 25px; padding: 3px 10px; text-decoration: none; font-weight:bold; }
      #elem_menu ul li a:hover { text-decoration: none; }
      #elem_menu ul li a.bg_13 { background: transparent url(http://clis-asso.fr/Promusicis/images/px_menu.png) 0 0 repeat-x; }
      #elem_menu ul li a.bg_13:hover { background: transparent url(http://clis-asso.fr/Promusicis/images/px_menu.png) 0 -125px repeat-x; }
      #elem_menu ul li a.bg_14 { background: transparent url(http://clis-asso.fr/Promusicis/images/px_menu.png) 0 -25px repeat-x;  }
      #elem_menu ul li a.bg_14:hover { background: transparent url(http://clis-asso.fr/Promusicis/images/px_menu.png) 0 -150px repeat-x; }
      #elem_menu ul li a.bg_15 { background: transparent url(http://clis-asso.fr/Promusicis/images/px_menu.png) 0 -50px repeat-x;  }
      #elem_menu ul li a.bg_15:hover { background: transparent url(http://clis-asso.fr/Promusicis/images/px_menu.png) 0 -175px repeat-x; }
      #elem_menu ul li a.bg_16 { background: transparent url(http://clis-asso.fr/Promusicis/images/px_menu.png) 0 -75px repeat-x;  }
      #elem_menu ul li a.bg_16:hover { background: transparent url(http://clis-asso.fr/Promusicis/images/px_menu.png) 0 -200px repeat-x; }
      #elem_menu ul li a.bg_17 { background: transparent url(http://clis-asso.fr/Promusicis/images/px_menu.png) 0 -100px repeat-x;  }
      #elem_menu ul li a.bg_17:hover { background: transparent url(http://clis-asso.fr/Promusicis/images/px_menu.png) 0 -225px repeat-x; }

      #elem_menu ul li ul { margin: 0; padding: 5px 0; width: 240px;  position: absolute; background: #FFF; z-index: 400; top: 30px; left: 0; }
      #elem_menu ul li  ul li ,
      #elem_menu ul li  ul li ul li { z-index: 400; padding: 0 0 5px; margin: 0; list-style-type: none; display: block; float: none; line-height: 16px; }
      #elem_menu ul li  ul li a { font-size: 14px; display: block; height: inherit; padding: 0 10px; }
      #elem_menu ul li a.lien_13,
      #elem_menu ul li a.lien_13 ul li a{ color: #266e9d; }
      #elem_menu ul li a.lien_14,
      #elem_menu ul li a.lien_14 ul li a{ color: #eb8403; }
      #elem_menu ul li a.lien_15,
      #elem_menu ul li a.lien_15 ul li a{ color: #8cbf3b; }
      #elem_menu ul li a.lien_16,
      #elem_menu ul li a.lien_16 ul li a{ color: #8cbfe1; }
      #elem_menu ul li a.lien_17,
      #elem_menu ul li a.lien_17 ul li a{ color: #821F56; }
      #elem_menu ul li a.lien_13:hover,
      #elem_menu ul li a.lien_17:hover,
      #elem_menu ul li a.lien_14:hover,
      #elem_menu ul li a.lien_15:hover,
      #elem_menu ul li a.lien_16:hover { text-decoration: underline; }
      #elem_menu ul li ul li ul { position: relative; width: 200px; top: 0; margin: 0 0 0 20px; padding: 2px 0; }
      #elem_menu ul li ul li ul  li{ padding: 0; }
      

				
		/**** Colonne gauche Contenu Edito / Pages Web ****/
	
		ul.liste_col_niv1,
		ul.liste_col_niv1 li,
		ul.liste_col_niv2,
		ul.liste_col_niv2 li { margin: 0; padding: 0; }
		ul.liste_col_niv1 li { list-style-type: none;  border-top: 1px dotted #78b4dc; }
		ul.liste_col_niv1 li.first { border-top: none; }
		ul.liste_col_niv1 li a{ text-decoration: none; padding: 7px 8px 8px; display: block; color: #00558c; font-size: 14px; }
	
		ul.liste_col_niv1 li a:hover  { background: #eff7fc; }	
		ul.liste_col_niv1 li.active  { background: #d0e7f5; }

		ul.liste_col_niv1Art,
		ul.liste_col_niv1Art li,
		ul.liste_col_niv2Art,
		ul.liste_col_niv2Art li { margin: 0; padding: 0; }
		ul.liste_col_niv1Art li { list-style-type: none;  border-top: 1px dotted #b1428f; }
		ul.liste_col_niv1Art li.first { border-top: none; }
		ul.liste_col_niv1Art li a{ text-decoration: none; padding: 7px 8px 8px; display: block; color: #b1428f; font-size: 14px; }
	
		ul.liste_col_niv1Art li a:hover  { background: #F9F3F7; }	
		ul.liste_col_niv1Art li.active  { background: #F8D3ED; }
		
		ul.liste_col_niv1Adr,
		ul.liste_col_niv1Adr li,
		ul.liste_col_niv1Adr,
		ul.liste_col_niv1Adr li { margin: 0; padding: 0; }
		ul.liste_col_niv1Adr li { list-style-type: none;  border-top: 1px dotted #00A867; }
		ul.liste_col_niv1Adr li.first { border-top: none; }
		ul.liste_col_niv1Adr li a{ text-decoration: none; padding: 7px 8px 8px; display: block; color: #00A867; font-size: 14px; }
	
		ul.liste_col_niv1Adr li a:hover  { background: #F4F7EB; }	
		ul.liste_col_niv1Adr li.active  { background: #E6F6B2; }
		
		ul.liste_col_niv1Apport,
		ul.liste_col_niv1Apport li,
		ul.liste_col_niv1Apport,
		ul.liste_col_niv1Apport li { margin: 0; padding: 0; }
		ul.liste_col_niv1Apport li { list-style-type: none;  border-top: 1px dotted #e25c13; }
		ul.liste_col_niv1Apport li.first { border-top: none; }
		ul.liste_col_niv1Apport li a{ text-decoration: none; padding: 7px 8px 8px; display: block; color: #e25c13; font-size: 14px; }
	
		ul.liste_col_niv1Apport li a:hover  { background: #F8EDE7; }	
		ul.liste_col_niv1Apport li.active  { background: #F8D9C7; }
		


/**** Page et colonnes ****/
	
		/* Conteneur */
		#conteneur { position: relative; display: block; width: 717px; float: left; margin-bottom: 15px; overflow: hidden; background: transparent url(/_boutiques/COROT//site_image/ombre_bas_edito.png) 0 bottom no-repeat; padding-bottom: 5px; }
		.rs_index #conteneur  { width: 960px; background: transparent 
		url(/_boutiques/COROT//site_image/px_ombre_bas.png) 0 bottom no-repeat; padding-bottom: 4px;}
		
		#conteneur-interne { background: transparent url(/_boutiques/COROT//site_image/px_ombre_edito.png) 0 0 repeat-y; display: block; overflow: hidden; padding: 9px 14px 9px 9px; margin: 0 4px 0 0;  }
		.rs_index #conteneur-interne { background: transparent url(/_boutiques/COROT//site_image/px_ombre.png) 0 0 repeat-y;  }
		.rs_index #conteneur,
		.rs_index #conteneur-interne { background: none; }
		.rs_index #conteneur-interne { padding: 0; }
		
		#contenu-principal { position: relative; display: block; height: 1%; background: #fff; padding: 10px; overflow: hidden; min-height: 200px; }
		.rs_index #contenu-principal { border: none; background: none; padding: 0 0 4px; } /* Pour IE6 on enleve le padding pour utiliser toute la largeur effective et ne pas faire glisser le contenu sous les colonnes */

.block {
	position: relative;
	background: #f9f9f9;
	padding: 15px; margin: 1em 0 0 0;
	border-width: 1px; border-style: solid;
	border-color: #ddd #f0f0f0 #fbfbfb #f0f0f0;
	}
	
.block H2 {
	/*float:left;
	width:100%;*/
  	// zoom: 1;
	border-bottom: 5px solid #666;
	margin-bottom: 1em;
	font-size: 1.7em;
	font-weight: bold;
	color: #666;
	}

.block H2:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow:hidden;
}

.block H2 span {
	display: block;
	background: #f9f9f9;
	padding: 0 15px 0 0;
	float: left;
	line-height: 1;
	margin-bottom:-9px;
	}
/*.mainhome .block H2{float:none;} */

.block h2.bleu { color: #0095d9; border-color: #0095d9;}
.block h2.orange { color: #e25c13; border-color: #e25c13; }
.block h2.vert { color: #98c10f; border-color: #00A867;}
.block h2.violet { color: #b1428f; border-color: #b1428f; }
.block h2.gris { color: #666666; border-color: #666666; }

#pageContent {
	 padding-top: 7px;
	}
	
.first      { margin-left:0; padding-left:0; }
.last       { margin-right:0; padding-right:0; }
.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }
.clear { clear:both; }

/* Use these classes to set the width of a column. */
.span-1  { width: 30px; }
.span-2  { width: 70px; }
.span-3  { width: 110px; }
.span-4  { width: 150px; }
.span-5  { width: 190px; }
.span-6  { width: 230px; }
.span-7  { width: 270px; }
.span-8  { width: 310px; }
.span-9  { width: 350px; }
.span-10  { width: 390px; }
.span-11  { width: 430px; }
.span-12  { width: 470px; }
.span-13  { width: 510px; }
.span-14  { width: 550px; }
.span-15  { width: 590px; }
.span-16  { width: 630px; }
.span-17  { width: 670px; }
.span-18  { width: 710px; }
.span-19  { width: 750px; }
.span-20  { width: 790px; }
.span-21  { width: 830px; }
.span-22  { width: 870px; }
.span-23  { width: 910px; }
.span-24  { width: 950px; margin-right: 0; }


/*
**************************************************************************
*/

/* MENU DEROULANT FULL CSS SUR 2 NIVEAUX AVEC BORDURE ITEMS GAUCHE */
	
	/* ELEMENT CONTENEUR DU MENU */
	div#navigation{
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		border: 1px solid #266e9d;
		width: 960px;
		height: 30px;
		background: #fff;
		text-align: left;
	}
	
	/* LISTE DE PREMIER NIVEAU ET DE SECOND NIVEAU */
	ul#menu, ul#menu li ul { 
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		list-style: none;
		line-height: 30px;
	}
	
	/* ITEMS LISTE DE PREMIER NIVEAU */
	ul#menu li {
		display: block;
		float: left;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		border-left: 1px solid #266e9d;
		width: 191px; /* 960px / 5 = 192 px, on enlève 1px de bordure gauche */
		background: #edecec;
	}
	
	/* TOUS LES LIENS DU MENU */
	ul#menu a {
		display: block;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		line-height: 30px;
		width: 190px;
		height: 30px;
		text-align: center;
		text-decoration: none;
		color: #266e9d;
		font-family: Arial,Verdana,sans-serif;
		font-size: 13px;
	}
	
	/* TOUS LES LIENS DU MENU EN SURVOL */
	ul#menu a:hover, ul#menu li:hover a, #menu li.ensurvol a {
		border-bottom:1px solid #ddd;
		background:#eee;
		color:#266e9d;
	}
	
	/* TOUS LES LIENS ACTIFS */
	ul#menu a.actif, ul#menu a.actif:hover, ul#menu li:hover a.actif, #menu li.ensurvol a.actif { /* tous liens actifs */
		background:#fff;
		border-bottom:1px solid #fff;
		color:#333;
	}
	
	/* SURCHARGE LISTE DE SECOND NIVEAU */
	ul#menu li ul { 
		position:absolute;
		width :191px;
		left:-999em;
		z-index:20;
	} 
	
	/* redÃ©finition de la position de la liste secondaire en survol de l'item parent de la liste principale */
	ul#menu li:hover ul, #menu li.ensurvol ul {
		margin-left:-1px;
		left:auto;
	}
	
	/* SURCHARGE ITEMS LISTE DE SECOND NIVEAU */
	ul#menu li ul li {
		border-left:1px solid #aaa;
		border-right:1px solid #aaa;
	}
	
	/* SURCHARGE LIENS ITEMS LISTE DE SECOND NIVEAU */
	ul#menu li ul li a, ul#menu li:hover ul li a, #menu li.ensurvol ul li a{ 
		background:#ccc;
		border-bottom:1px solid #aaa;
		color:#266e9d;
		font-family: Arial,Verdana,sans-serif;
		font-size: 12px;
	}
	
	/* SURCHARGE LIENS SURVOLES ITEMS LISTE DE SECOND NIVEAU */
	ul#menu li ul li a:hover, ul#menu li:hover ul li a:hover, #menu li.ensurvol ul li a:hover{ 
		background:#eee;
		border-bottom:1px solid #aaa;
		color:#333;
	}
	
	/* SURCHARGE ELEMENTS FILS DU PREMIER ITEM DE LA LISTE PRINCIPALE */
	ul#menu li.premier {
		border-left:none;
		width :192px;
	}
	ul#menu li.premier a, ul#menu li.premier a.actif { 
		width :192px;
	}
	ul#menu li.premier ul li, #menu li.permier.ensurvol ul li { 
		width :192px;
	}
	ul#menu li.premier a, ul#menu li.permier:hover ul li a, #menu li.permier.ensurvol ul li a {
		width :192px;
	}


/* FIN MENU DEROULANT */

/*
**************************************************************************
*/

/* --------------------------------------------------------------

B - Main Navigation Section

-------------------------------------------------------------- */

#nav {
	position: relative;
	z-index: 210;
	}

#nav ul.navCtn {
	float: left;
	margin: 0; padding: 0;
	border-top: 2px solid #018fd1;
	background: #008FD1 url('../images/mainnavbg.png') repeat-x;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2973bd), to(#018fd0));
	background: -moz-linear-gradient(center bottom, #018fd0 1%, #2973bd 100% );
	list-style-type: none;
        width:100%;
	}
#nav li.navItem {
	float: left;
	padding: 0 2px 0 0;
	background: url('../images/splitter.png') right center no-repeat;
	}

#nav li.navItem a.navAct  {
	display: block;
	position: relative;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	min-width: 187px;
	outline: none;
	text-decoration: none;
	font-size: 1.5em;
	color: #fff;
	text-align: center;
	}

#nav li.navItem a.navAct span {
	display: block;
	padding: 7px 5px;
	}


#nav li.navItem span.currentbranch0{
	display: block;
	background-color: #fefefe!important;
	color: #2973bd!important;
        -webkit-border-radius: 3px 3px 0 0 !important;
	-moz-border-radius: 3px 3px 0 0!important;
	position: relative;
	min-width: 156px;
	outline: none;
	text-decoration: none;
	font-size: 1.5em;
	color: #fff;
	text-align: center;
	padding: 7px 5px;
	}


#nav>ul:nth-child(6), #nav li.bLast {
	padding: 0;
	background: none;
	}
#nav>ul:nth-child(6).navCtn a.navAct, #nav li.bLast a.navAct {
	width: 160px;
	}

#nav li.navItem a.navAct:hover, #nav li.activePage a.navAct, 
#nav li.current a.navAct, 
#nav #home281 .homenav a.navAct, 
#nav #home281.Countries .countrynav a.navAct, 
#nav #home281.Topics .topicnav a.navAct, 
#nav #home281.About .aboutnav a.navAct {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	}
#nav>ul>li:first-child, #nav li.bFirst a.navAct, #nav li.bFirst a.navAct:hover {
	-webkit-border-radius: 0 3px 0 0;
	-moz-border-radius: 0 3px 0 0;
	border-radius: 0 3px 0 0;
	}
#nav>ul>li:nth-child(6), #nav li.bLast a.navAct, #nav li.bLast a.navAct:hover {
	-webkit-border-radius: 3px 0 0 0;
	-moz-border-radius: 3px 0 0 0;
	border-radius: 3px 0 0 0;
	}
#nav li.navItem a.navAct:hover {
	background-color: #c5d7ed;
	color: #2973bd;
	}

/*
#nav li.activePage a.navAct, 
#nav #home281.homenav a.navAct, 
#nav #home281.Countries .countrynav a.navAct, 
#nav #home281.Topics .topicnav a.navAct, 
#nav #home281.About .aboutnav a.navAct {
	background-color: #2973bd!important;
	color: #2973bd!important;
	}
*/


#nav li.activePage a.navAct, #nav #home281 .home a.navAct, #nav #home281.About .about a.navAct, #nav #home281.Countries .countries a.navAct, #nav #home281.Topics .topics a.navAct, #nav #home281.Statistics .statistics a.navAct, #nav #home281.Newsroom .newsroom a.navAct {
	background-color: #fefefe!important;
	color: #2973bd!important;
	}

#nav li.current a.navAct {
	background-color: #ffffff!important;
	color: #2973bd!important;
	}
#nav li a.hasPanel {
	z-index: 300;
	}

#nav #home281.Countries .homenav a.navAct, #nav #home281.Topics .homenav a.navAct, #nav #home281.About .aboutnav a.navAct{background:none!important; color: #fff!important; border-radius:0;}
#nav #home281.Countries .homenav a.navAct:hover, #nav #home281.Topics .homenav a.navAct:hover, #nav #home281.About .aboutnav a.navAct:hover{	background-color: #c5d7ed!important; color: #2973bd!important; 	-webkit-border-radius: 3px 0 0 0;
	-moz-border-radius: 3px 0 0 0;
	border-radius: 3px 0 0 0;}
	
	/** Footer  	**/
.footer {
	/**background: url("../images/fd-footer.gif") repeat-x 0 0 transparent;**/
	padding: 8px 0 0 0; 
	margin: 0px 0px 0 20px;
	line-height : 20 px;
	}
.footer .liens {
	float: right;
	color: #666666;
	line-height : 20 px;
	}
.footer .liens a {
	font-family: georgia; font-size: 12px; color: #666666; text-decoration: none;
	}
.footer .copyright {
	float: left;
	font-family: georgia; font-size: 12px; color: #c00000; text-decoration: none;
	}
	
