@media (min-width: 1000px) {
    #contactUs {
        box-shadow: 0px 0px 50px rgb(231, 231, 231);
        width: 250px;
        height: 400px;
        border-radius: 5px;
        position: fixed;
        top: 30%;
        left: 74%;
    }
    
    #titleContactUs {
        font-size: 20px;
    }
    
    #inlineContactUs {
        margin-left: 20px;
    }
    
    #ourMail {
        font-size: 17px;
    }
}